.icone {
  width:100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;

  .icone_image {
    width:100%;
    height: 60px;
    text-align: center;
  }

  .icone_legende {
    width:100%;
    text-align: center;
    font-size: small;
  }
}